* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ececec;
}

.container {
    max-width: 900px;
    height: 100%;
    margin: 0 auto;
    padding: 50px 80px;
    background-color: #fffaee;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}

.lists-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.lists-container h2 {
    margin-bottom: 20px;
}

.lists-container ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lists-container li {
    font-size: 18px;
    text-transform: capitalize;
}

.lists-container li span {
    text-transform: none;
}
