* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

img {
    width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: #cacaca;
    background: linear-gradient(135deg, rgb(235, 226, 237) 0%, rgb(239, 222, 225) 100%);
}

#container {
    max-width: 1640px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    color: #0c232b;
    font-size: 18px;
    text-align: center;
}

h1  {
    margin-bottom: 30px;
    color: darkred;
}

#recipesList {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.recipe-item {
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 8px;
    background-color: rgba(255, 255, 250, 0.5);
    box-shadow: 5px 5px 15px -7px rgba(0,0,0,0.65);
}

.recipe-image {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px 8px 0 0;
}

.recipe-image img {
    max-height: 280px;
    border-radius: 8px 8px 0 0;
}

.meal-data,
.rating-data,
.serving-data,
.time-data {
    position: absolute;
    padding: 5px 10px;
    border-radius: 4px;
}

.meal-data {
    top: 0;
    left: 0;
    color: #4e020e;
    font-size: 14px;
    font-weight: 600;
    background-color: rgba(255, 255, 250, 0.3);
    text-align: left;
}

.rating-data {
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: left;
}

.rating-data p {
    color: #f8e8fe;
    font-size: 14px;
}

.rating-data p:first-child {
    color: gold;
}

.serving-data {
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 250, 0.7);
    text-align: left;
}

.serving-data p {
    font-size: 12px;
}

.time-data {
    bottom: -40px;
    right: 0;
}

.time-data p {
    font-size: 12px;
}

.recipe-info {
    padding: 5px 15px 20px 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.recipe-info > p:first-of-type {
    font-size: 14px;
    margin-bottom: 10px;
}

.recipe-info h2 {
    color: #4e020e;
    margin-bottom: 5px;
    font-size: 22px;
}

.recipe-ingredients {
    text-align: left;
    list-style-type: circle;
    list-style-position: inside;
    font-weight: 600;
}

.recipe-ingredients li {
    margin-top: 5px;
    font-size: 14px;
}

.recipe-instructions {
    font-weight: 600;
}

.recipe-instructions p {
    margin-top: 8px;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.recipe-info > p:last-of-type {
    font-size: 14px;
    text-align: left;
    font-style: italic;
}

.recipe-tags {
    display: flex;
}

.recipe-tags a {
    margin-left: 8px;
    color: blue;
}