* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body > div {
    max-width: 80%;
    margin: 0 auto;
    padding: 50px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    justify-items: center;
    border-bottom: 2px solid black;
}

img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}