#sessionsList {
    width: 400px;
    margin-top: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: #f8e8fe;
    border-radius: 10px;
}

#sessionsList p {
    color: #222222;
}