* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    min-height: 100vh;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4e413e;
    color: #f8e8fe;
    font-size: 18px;
}

#counter {
    min-width: 120px;
    min-height: 120px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #025873;
    font-size: 46px;
    border-radius: 10px;
    background-color: #f8e8fe;
}