* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: #222222;
}

.container {
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

h1 {
    padding: 50px 20px 20px 20px;
    text-align: center;
}

.category {
    margin-bottom: 30px;
    font-size: 18px;
}

.category h2 {
    margin-bottom: 20px;
    padding: 10px 5px;
    font-size: 26px;
    font-weight: 600;
    color: #ececec;
    background-color: #2b5a6a;
}

.category p {
    margin-bottom: 5px;
}